
    /* text settings */

body {
    font-size: 14px;
    font-family: aerial, sans-serif;
    
}

    /* buttons and hyperlink settings*/
a:hover {
    text-decoration: underline;
}

.header-link {
    text-decoration: none;
    color: #222;
    padding: 15px;
}
header {
    position: fixed;
    top: 0; 
    width: 100%;
    display: inline-block;
    padding: 5px;
}
.ftr-link {
    text-decoration: none;
    color: #70757a;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;

}
    /* flex containers */

.page-container {
    display: flex;
    flex-direction: column;
}
.search-bar-container {
    display: flex;
    justify-content: center;
    padding: 20px;
} 
.button-container {
    justify-items: center;
}
    /* Image settings */
.logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#leaf {
    height: 14px;
    margin-right: 6px;
}

.search-bar {
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
}
footer {
    background-color: #f8f9fa;
    color: #70757a;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-end {
    padding: 15px;
}
